thirdparty
virtual
squeal.ini
*.pyc
db
tmp
Squeal.wpu
pip-log.txt
_trial_temp
core
setuptools*
wingdbstub.py
build-stamp
configure-stamp
debian/squeal
distribute-*.tar.gz
libspotify
*.egg-info
venv
squeal.log
src/squeal/spot/old-templates/
dropin.cache
