thirdparty
virtual
squeal.ini
*.pyc
db
tmp
Squeal.wpu
pip-log.txt
nevow/plugins/dropin.cache
_trial_temp
core
setuptools*
wingdbstub.py
build-stamp
configure-stamp
debian/squeal
distribute-0.6.10.tar.gz
libspotify
src/squeal.egg-info
venv

