[DiscoveryService]
listen = 3483
hostname = YOUR_HOSTNAME

[SlimService]
listen = tcp:3483

[WebService]
listen = tcp:9000

[ManholeService]
listen = tcp:2222
username = CHOOSE_A_USERNAME
password = CHOOSE_A_PASSWORD

[Spotify]
username = SPOTIFY_USERNAME
password = SPOTIFY_PASSWORD
