<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:n="http://nevow.com/ns/nevow/0.1">
<head>
    <title>Squeal</title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />

    <script type="text/javascript" src="static/js/jquery-1.4.2.js"> </script>
    <script type="text/javascript" src="static/js/jquery-ui-1.8rc2.custom.min.js"> </script>
    <script type="text/javascript" src="static/js/underscore.js"> </script>
    <script type="text/javascript" src="static/js/jquery.template.js"> </script>

    <script type="text/javascript" src="static/js/squealui.js"> </script>

    <link rel="stylesheet" href="static/css/reset-fonts-grids.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="static/css/smoothness/jquery-ui-1.8rc2.custom.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="static/css/squeal.css" type="text/css" media="screen" />

    <n:invisible n:render="liveglue" />

</head>
<body>
    <div id="header" class="yui-ge" n:render="header" />
    <div id="main" class="yui-g">
        <div id="sources" class="yui-u first" n:render="sources" />
        <div id="playlist" class="yui-u">
            <h3>Playlist</h3>
            <div id="panel-playlist" class="panel" n:render="playlist" />
            <h3>Users</h3>
            <div id="panel-users" class="panel" n:render="account" />
            <h3>Players</h3>
            <div id="panel-players" class="panel" n:render="players" />
        </div>
    </div>
    <div id="footer"></div>
    <div id="play-actions" n:render="play_actions" />
</body>
</html>
