<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:n="http://nevow.com/ns/nevow/0.1">
<head>
    <title>Squeal</title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />

    <script type="text/javascript" src="static/js/jquery-1.4.2.js"> </script>
    <script type="text/javascript" src="static/js/jquery-ui-1.8rc2.custom.min.js"> </script>
    <script type="text/javascript" src="static/js/underscore.js"> </script>
    <script type="text/javascript" src="static/js/jquery.template.js"> </script>

    <script type="text/javascript" src="static/js/squeal.js"> </script>

    <link rel="stylesheet" href="static/css/reset-fonts-grids.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="static/css/smoothness/jquery-ui-1.8rc2.custom.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="static/css/squeal.css" type="text/css" media="screen" />

    <n:invisible n:render="liveglue" />

</head>
<body>
    <div id="header" class="yui-ge" n:render="header" />
    <div id="main" class="yui-g">
        <div id="sources" class="yui-u first" n:render="sources" />
        <div id="playlist" class="yui-u">
            <h3>Playlist</h3>
            <div id="panel-playlist" class="panel">
                <ul>
                    <li>
                        <p class="track">
                            <span class="cover-art"></span>
                            <span class="track">N.W.O</span>
                            <span class="artist">Ministry</span>
                            <span class="album">Psalm 69</span>
                        </p>
                        <p class="info">
                            <a href="#" class="user">bne</a>
                            <span class="length">5:30</span>
                        </p>
                    </li>
                    <li>
                        <p class="track">
                            <span class="cover-art"></span>
                            <span class="track">Just One Fix</span>
                            <span class="artist">Ministry</span>
                            <span class="album">Psalm 69</span>
                        </p>
                        <p class="info">
                            <a href="#" class="user">bne</a>
                            <span class="length">5:10</span>
                        </p>
                    </li>
                    <li>
                        <p class="track">
                            <span class="cover-art"></span>
                            <span class="track">TV II</span>
                            <span class="artist">Ministry</span>
                            <span class="album">Psalm 69</span>
                        </p>
                        <p class="info">
                            <a href="#" class="user">bne</a>
                            <span class="length">3:05</span>
                        </p>
                    </li>
                    <li>
                        <p class="track">
                            <span class="cover-art"></span>
                            <span class="track">Hero</span>
                            <span class="artist">Ministry</span>
                            <span class="album">Psalm 69</span>
                        </p>
                        <p class="info">
                            <a href="#" class="user">bne</a>
                            <span class="length">4:12</span>
                        </p>
                    </li>
                    <li class="current">
                        <p class="track">
                            <span class="cover-art"></span>
                            <span class="track">Jesus Built My Hotrod</span>
                            <span class="artist">Ministry</span>
                            <span class="album">Psalm 69</span>
                        </p>
                        <p class="info">
                            <a href="#" class="user">bne</a>
                            <span class="length">4:53</span>
                        </p>
                    </li>
                    <li>
                        <p class="track">
                            <span class="cover-art"></span>
                            <span class="track">Scare Crow</span>
                            <span class="artist">Ministry</span>
                            <span class="album">Psalm 69</span>
                        </p>
                        <p class="info">
                            <a href="#" class="user">bne</a>
                            <span class="length">8:22</span>
                        </p>
                    </li>
                    <li>
                        <p class="track">
                            <span class="cover-art"></span>
                            <span class="track">Psalm 69</span>
                            <span class="artist">Ministry</span>
                            <span class="album">Psalm 69</span>
                        </p>
                        <p class="info">
                            <a href="#" class="user">bne</a>
                            <span class="length">5:29</span>
                        </p>
                    </li>
                    <li>
                        <p class="track">
                            <span class="cover-art"></span>
                            <span class="track">Corrosion</span>
                            <span class="artist">Ministry</span>
                            <span class="album">Psalm 69</span>
                        </p>
                        <p class="info">
                            <a href="#" class="user">bne</a>
                            <span class="length">4:57</span>
                        </p>
                    </li>
                    <li>
                        <p class="track">
                            <span class="cover-art"></span>
                            <span class="track">Grace</span>
                            <span class="artist">Ministry</span>
                            <span class="album">Psalm 69</span>
                        </p>
                        <p class="info">
                            <a href="#" class="user">bne</a>
                            <span class="length">3:06</span>
                        </p>
                    </li>
                </ul>
            </div>
            <h3>Users</h3>
            <div id="panel-users" class="panel">
                <div class="yui-g">
                    <div class="yui-u first">
                        <ul>
                            <li><a href="#">bne</a></li>
                            <li><a href="#">caolan</a></li>
                            <li><a href="#">channam</a></li>
                            <li><a href="#">CtM</a></li>
                            <li><a href="#">_David_</a></li>
                            <li><a href="#">davidb</a></li>
                            <li><a href="#">dtt101</a></li>
                            <li><a href="#">elizaxu</a></li>
                            <li><a href="#">fig</a></li>
                            <li><a href="#">fuzzpedal</a></li>
                            <li><a href="#">garym</a></li>
                            <li><a href="#">_greg_</a></li>
                            <li><a href="#">gwilym</a></li>
                            <li><a href="#">Jc2k</a></li>
                            <li><a href="#">joethedough</a></li>
                            <li><a href="#">karen</a></li>
                            <li><a href="#">kirstys</a></li>
                        </ul>
                    </div>
                    <div class="yui-u">
                        <ul>
                            <li><a href="#">lith</a></li>
                            <li><a href="#">manouche</a></li>
                            <li><a href="#">marts</a></li>
                            <li><a href="#">mitchell</a></li>
                            <li><a href="#">mrben</a></li>
                            <li><a href="#">mtarbit</a></li>
                            <li><a href="#">offmessage</a></li>
                            <li><a href="#">sarann</a></li>
                            <li><a href="#">slimbot</a></li>
                            <li><a href="#">SteveM</a></li>
                            <li><a href="#">tepic</a></li>
                            <li><a href="#">tomds</a></li>
                            <li><a href="#">toomuchinformation</a></li>
                            <li><a href="#">twom</a></li>
                            <li><a href="#">waldo</a></li>
                            <li><a href="#">wazzm</a></li>
                            <li><a href="#">winjer</a></li>
                            <li><a href="#">worthydolt</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <h3>Players</h3>
            <div id="panel-players" class="panel">
                <p>Etiam lacinia mollis dictum. Mauris et eleifend nibh. Nulla facilisi. Donec ipsum quam, ullamcorper vel sagittis ut, venenatis sed sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque et rutrum neque. Pellentesque id enim sed quam luctus luctus. Donec eu faucibus dolor. Vestibulum massa orci, gravida eu ullamcorper id, luctus sit amet lacus. In nibh leo, malesuada sit amet aliquam vel, congue eget justo. Praesent nec eleifend tellus. Proin quis sagittis lectus. Phasellus posuere dui at libero suscipit vel tincidunt quam bibendum. Sed luctus, neque ac laoreet condimentum, velit elit lobortis eros, non tristique mi sem ac velit. Vestibulum sagittis mattis ante, in viverra urna gravida vitae. Nulla imperdiet aliquet lacus a lobortis.</p>
            </div>
        </div>
    </div>
    <div id="footer"></div>
    <div id="play-actions" n:render="play_actions" />
</body>
</html>
