#bd {
    background: #bbb;
    border: solid #333 1px;
    padding: 0.5em;
}

.yui-b {
    border: solid red 1px;
}

.yui-g {
    border: solid green 1px;
}

#source,
#account,
#search,
#options,
#playing,
#queue,
#connected,
#results-artists,
#results-albums,
#results-tracks {
    background: #aaa;
    border: solid #333 1px;
    padding: 0.1em;
    margin: 0.1em;
}

#options,
#account {
    text-align: right;
}

#playing {
    text-align: center;
}


#queue-items,
#connected-items {
    height: 10em;
    overflow: scroll;
    border: solid #444 1px;
    width: 200px;
    margin: auto;
}

#results-tracks-listing thead tr {
    display: block;
}

tbody {
    height: 500px;
    overflow: auto;
    display: block;
    width: 800px;
}

td, th {
    border: solid black 1px;
    padding: 2px;
    border-spacing: 0;
}

.odd {
    background-color: #e2e4ff;
}

.even {
    background-color: #dfd;
}

.cell-play {
    width: 20px;
}

.cell-track,
.cell-artist,
.cell-album,
.cell-time {
    width: 200px;
}
