#bd {
    background: #bbb;
    border: solid #333 1px;
    padding: 0.5em;
}

.yui-b {
}

.yui-g {
}

#source,
#account,
#search,
#options,
#playing,
#queue,
#connected,
#results-artists,
#results-albums,
#results-tracks {
    background: #aaa;
    border: solid #333 1px;
    padding: 0.1em;
    margin: 0.1em;
}

#options,
#account {
    text-align: right;
}

#playing {
    text-align: center;
}


#queue-items,
#connected-items {
    height: 10em;
    overflow: scroll;
    border: solid #444 1px;
    width: 200px;
    margin: auto;
}

li {
    font-size: 80%;
    list-style-type: disc;
    list-style-position: inside;
}

.setup-pane {
    position: absolute;
    left: 50px;
    top: 50px;
    right: 50px;
    bottom: 50px;
    border: solid 1px black;
    padding: 0.5em;
    background: white;
    text-align: left;
    z-index: 0;
    display: none;
}