Source: squeal
Section: unknown
Priority: extra
Maintainer: Doug Winter <doug@isotoma.com>
Build-Depends: debhelper (>= 7), python-support (>=0.90), python-all-dev
Standards-Version: 3.8.1
Homepage: http://squealserver.com

Package: squeal
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, python-crypto, python-tagpy, python-magic, libsqlite3-dev, python-zopeinterface, python-twisted, python-imaging, python-spotify
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
