<div n:render="liveElement" xmlns="http://www.w3.org/1999/xhtml" xmlns:n="http://nevow.com/ns/nevow/0.1">
    Connected
    <br />
    <div id="connected-items">
        winjer (you)
        offmessage (<a href="#">poke</a>)<br />
        dtt101 (<a href="#">poke</a>)<br />
        waldo (<a href="#">poke</a>)<br />
        twom (<a href="#">poke</a>)<br />
        bne (<a href="#">poke</a>)<br />
    </div>
    3 devices are connected: <a href="#">The Loft</a>, <a href="#">Upstairs</a>, <a href="#">Downstairs</a><br/>
    <button>Setup</button>
</div>