<html xmlns="http://www.w3.org/1999/xhtml" xmlns:n="http://nevow.com/ns/nevow/0.1">
    <head>
        <script type="text/javascript" src="/static/ext/ext-base.js"> </script>
        <script type="text/javascript" src="/static/ext/ext-all-debug.js"> </script>
        <link rel="stylesheet" type="text/css" href="/static/ext/css/ext-all.css" />
        <n:invisible n:render="liveglue" />
    </head>
    <body>
        <div n:render="controls" />
        <div n:render="status" />
        <div n:render="library" />
        <div n:render="playlist" />
    </body>
</html>
