<div n:render="liveElement" xmlns="http://www.w3.org/1999/xhtml" xmlns:n="http://nevow.com/ns/nevow/0.1">
    <img src="/static/jesus.jpg" width="100px" />
    <br />
    Now playing <a href="#">Jesus Built My Hotrod</a> by <a href="#">Ministry</a> on <a href="#">Psalm 69</a> chosen by <a href="#">winjer</a>
    <img src="/static/slider.png" /><br/>
    <img src="/static/icon/32x32/skip_backward.png" />
    <img src="/static/icon/32x32/rewind.png" />
    <img src="/static/icon/32x32/pause.png" />
    <img src="/static/icon/32x32/play.png" />
    <img src="/static/icon/32x32/fast_forward.png" />
    <img src="/static/icon/32x32/skip_forward.png" />
</div>